/*.full-page {
    height: 100% !important;
}*/
.full {
    height: 80%;
}
.button-c {
    background-color: #221D23;
    border-radius: 5px;
    width: 10%;
    color: #F1AB2E;
    text-decoration: none;
}
.contact {
  color: #F1AB2E;
  text-decoration: none;
}